@import "compass/css3";
@import "variables";
@import "bootswatch-paper";

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $font-family-serif;
    font-weight: 400;
}
#logo {
	float: left;
	margin-right: 8px;
	margin-top: 18px;
}

#header {
    background: #fff;
}

main {
    padding: 22px 0;
    margin-bottom: 60px;
}

#header,
.wrapper {
    @include box-shadow(0 0 3px rgba(0, 0, 0, 0.2));
}

.wrapper {
    background-color: #fff;
    padding: 20px 20px 0;
}

#multisearch-results {
  
    margin-top: 20px;
}
#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(45, 48, 51, 0.9);
    color: #a5a6a7;
    padding-top: 1.25em;
}
.ng-touched {
	&.ng-invalid {
        @include box-shadow(inset 0 -1px 0 $brand-danger);
        &:focus {
            @include box-shadow(inset 0 -2px 0 $brand-danger);
        }
	}
	&.ng-valid {
        @include box-shadow(inset 0 -1px 0 $brand-success);
        &:focus {
			@include box-shadow(inset 0 -2px 0 $brand-success);
		}
	}
}

/**
* Animations
*/
.result {
	.actions {
		min-width: 110px;
	}
	&.ng-enter,
	&.ng-leave,
	&.ng-move {
		@include transition(0.5s linear all);
	}

	&.ng-enter,
	&.ng-move {
		opacity: 0;
		height: 0;
		overflow: hidden;
	}

	&.ng-move.ng-move-active,
	&.ng-enter.ng-enter-active {
		opacity: 1;
	}

	&.ng-leave {
		opacity: 1;
		overflow: hidden;
	}

	&.ng-leave.ng-leave-active {
		opacity: 0;
		height: 0;
		padding-top: 0;
		padding-bottom: 0;
	}
}

.animate-show {
	opacity: 1;
}

.animate-show.ng-hide {	
	opacity: 0;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active,
.progress-bar,
.alert
{
	@include transition(0.5s linear all);
}